body {
    background-image: url('castle.png'); /* Path to your dragon image */
    background-color: #b2b2e8;
    color: #ffffff;
    font-family: Arial, sans-serif;
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Fixes the image in place */
}

#game {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #1f1f3d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

#stats,
#controls {
  border: 2px solid #ffac33;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

#monsterStats {
  display: none;
  border: 2px solid #c70d0d;
  border-radius: 5px;
  padding: 10px;
  background-color: #520303;
  margin-bottom: 20px;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 2px solid #feac32;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  margin: 0 5px;
}

button:hover {
  background-color: #ffac33;
  background-image: linear-gradient(#fecc4c, #ffac33);
}

button:active {
  transform: translateY(1px);
}

#text {
  background-color: #29294f;
  padding: 20px;
  border-radius: 5px;
  color: #ffffff;
}

#text p {
  margin: 0 0 10px 0;
}

#text p:last-child {
  margin-bottom: 0;
}

#battleKnight {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}
